-e .
-e ./src/fast_api
-e ./src/micro_core
-e ./src/powertools_hello_world
-e ./src/sqs_batch_processing
-r ./tests/requirements.txt
autoflake==2.2.1
black==23.9.0
flake8==6.1.0
isort==5.12.0
mypy==1.5.1
pre-commit==3.4.0
setuptools==68.2.0
wheel==0.41.2
